@font-face{
    font-family: 'Pacifico';
    src: url('assets/fonts/Pacifico-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
}

span{
    color:#66B6D3;
}

.header{
    display: flex;
    justify-content: center;
}

.header-container{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.header-container h1, .avatar h1{
    color:#303137;
}

.title h1 a{
    text-decoration: none;
    color: #303137;
    font-family: Pacifico;
}

.nam{
    color: limegreen;
}

.message, .rollNo{
    margin-top: 12px;
}

.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:70px 0px;
}

.avatar .image img{
    max-width:200px;
    width: 100%;
    border-radius:50%;
    border: 1px solid #66B6D3;
    transition: 0.2s ease-in-out;
}

.image img:hover{
    border-radius: 15px;
    transform: scale(1.1);
}

.name h1{
    font-family: Pacifico;
    font-size: 50px;
}

.assignment{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    padding-bottom: 100px;
}

.assignment h1{
    text-transform: uppercase;
    color: #303137;
    padding: 100px 0px;
}

.assign-container{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.assign{
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border-radius: 18px;
    margin-bottom: 40px;
}

.assign .image img{
    width: 100%;
    height: 100%;
}

.assign .image img:hover{
    transform: scale(1.3);
}

.details{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.details h2{
    color: gray;
}

.details p{
    font-size: 20px;
    color: #303137;
}

.details a{
    align-self: center;
    text-decoration: none;
    font-size:18px;
    background-color: royalblue;
    color: #66B6D3;
    padding: 8px 15%;
    margin-top: 15px;
    border-radius: 5px;
}

.details a:hover{
    color: white;
    background-color: #66B6D3;
}

.footer{
    display:flex;
    justify-content: center;
    background-color: #303137;
}

.footer-container{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px 0px;
}

.icons{
    margin-top: 8px;
}

.icons a{
    padding: 5px;
    padding-top: 15px;
}

.icons a:hover{
    background-color: #66B6D3;
}

.icons a img{
    max-width:25px;
    width: 100%;
}

.copyright{
    margin-top: 8px;
}

.copyright p{
    color: antiquewhite;
    text-align: center;
    font-size: 24px;
}

.copyright p a{
    text-decoration: none;
    color: antiquewhite;
}

.copyright p a:hover{
    color: #66B6D3;
}