@font-face{
    font-family: 'Pacifico';
    src: url('assets/fonts/Pacifico-Regular.ttf');
}

@font-face{
    font-family: 'Sourcesp';
    src: url('assets/fonts/SourceSansPro-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    font-family: Sourcesp;
}


/* .header{
    background-color: royalblue;
} */

.head-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 20px;
    /* padding: 10px 0px; */
}

.icons{
    padding-top: 10px;
}

.icons img{
    width: 30px;
}

.heading h1{
    color: #303137;
}

.avatar{
    display: flex;
    justify-content: center;
}

.avatar-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:100px 0px;
}

.avatar-image img{
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.avatar-image img:hover{
    border-radius: 5px;
    transform: scale(1.02);
}

.avatar-container h1{
    font-family: Pacifico;
    font-size: 64px;
    color: #303137;
    /* text-transform: uppercase; */
}

.avatar-container h1 span{
    font-family: Pacifico;
    color: #66B6D3;
}

.assigment{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin-top: 20px;
    background-color: whitesmoke;
    padding-top: 50px;
}

.assigment h1{
    text-align: center;
    color: gray;
}

.assigment-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
    padding: 50px 0px;
}

.assigments{
    width: 370px;
    text-align: center;
    background-color: white;
    padding: 50px 0px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 8px lightgray;
}

.assigments h2{
    color: gray;
    margin-bottom: 30px;
}

.assigments a img{
    width: 80%;
}

.link{
    text-decoration: none;
    color: royalblue;
    font-size: 20px;
}

.link:hover{
    border-bottom: 1px solid gray;
    color: gray
}

.footer{
    background-color: royalblue;
}
.footer-container{
    width: 90%;
}

.foot{
    padding: 20px 50px;
}

.foot a{
    text-decoration: none;
    color: white;
}

.foot a:hover{
    color: gray;
    border-bottom: 1px solid gray;
}

@media (max-width:769px){
    
    .head-container{
        flex-direction: column;
        text-align: center;
    }

    .assigments{
        width: 100%;

    }

    .foot{
        text-align: center;
    }
}